.contactButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: var(--wiki-transition);
  color: var(--ifm-color-emphasis-800);
}

.contactButton:hover {
  background-color: var(--ifm-color-emphasis-100);
  color: var(--ifm-color-primary);
}

.mailIcon {
  width: 16px;
  height: 16px;
}

.mailText {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .mailText {
    display: none;
  }
  
  .contactButton {
    padding: 0.5rem;
  }
}